{% extends 'base.html' %}

{% block head %}
<title>Code</title>
{% endblock %}

{% block body %}
<div class="parse-wrapper">
    <div class="parse-container">
        <div class="function-table">
            <table>
                <tr>
                    <th>Functions</th>
                </tr>
                {% for row in list %}
                    <tr>
                        <td>{{row}}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <div class="right">
        <div class="source-sink-container">
            <form action="/upload/flow" method="post">
                    <input type="text" name="source" id="sink" placeholder="Source">
                    <input type="text" name="sink" id="sink" placeholder="Sink">
                    <input type="submit" value="Submit">
            </form> 
        </div>
        <div class="flow-table">
            <table>
                <tr>
                    <th>nodeType</th>
                    <th>tracked</th>
                    <th>line</th>
                </tr>
                {% for row in file %}
                    <tr>
                        <td>{{row.nodeType}}</td>
                        <td>{{row.tracked}}</td>
                        <td>{{row.line}}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>  
    </div>
</div>
{% endblock %}