{% extends 'base.html' %}

{% block head %}
<title>Upload</title>
{% endblock %}

{% block body %}
<div class="content">
    <form action="/upload" method="post" enctype="multipart/form-data">
        <label for="upload-code">
            <input type="file" name="upload-code" id="upload-code" accept=".py" onchange="Showname()" required hidden>
            <div class="upload-info">
                <p>Click here to upload file</p>
                <i class='bx bx-cloud-upload' ></i>
                <p>Upload a .py file. Max size 16MB.</p>
            </div>
        </label>
        <div class="submit-form-container">
            <p id="log"></p>
            <input type="submit" name="submit-form" id="submit-form" value="Next">
        </div>
    </form>
</div>
{% endblock %}